{% block content %}
  <div class="container">
    <div class="form-wrapper">
      <a href="/accounts/login" class="back-arrow">&#8592;</a>
      <h2 style="color: #20BEFF;">SOCAlgoTestingPlatform</h2>
      <p>
        Please enter the email associated with your account below and you will recieve a recovery email
      </p>
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          <div class="error-message">
            {{ form.email.errors }}
          </div>
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-primary btn-lg mt-3" value="Reset password">
      </form>
    </div>
  </div>

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form-wrapper {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .back-arrow {
      display: flex;
      align-items: left;
      justify-content: left;
      font-size: 30px;
      color: #20BEFF;
      text-decoration: none;
    }
    
    .back-arrow:hover {
      color: #3891d0;
    }
  </style>
{% endblock %}