{% block content %}
  <div class="container">
    <div class="reset-box">
      {% if validlink %}
        <h2 style="color: #20BEFF;">SOCAlgoTestingPlatform</h2>
        <h2>Reset Your Password</h2>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New Password:</label>
            {{ form.new_password1 }}
          </div>

          <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm Password:</label>
            {{ form.new_password2 }}
          </div>

          <button type="submit" class="btn">Change My Password</button>
        </form>
      {% else %}
        <h1>Password Reset Failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used.  
        Please request a new password reset.</p>
      {% endif %}
    </div>
  </div>

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }

    .reset-box {
      max-width: 400px;
      width: 100%;
      padding: 25px;
      background-color: #f8f9fa;
      border-radius: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-bottom: 15px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 15px;
    }

    .form-group label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    .btn {
      width: 100%;
      padding: 10px;
      background-color: #20BEFF;
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      font-weight: bold;
    }

    .btn:hover {
      background-color: #3891d0;
    }
  </style>
{% endblock %}